.bg-cover {
    background: url(../images/LinksysRouter.jpg);
    height: 400px;
    background-size:cover;
}
.text-normal {
    font-weight: normal;
}
.table-filter {
     display: none;
     float: left;
}
.table-filter-button {
     /*float: right; */
}
.table-search {
     float: right;
     text-align: right;
}
.table-pageSizer {
     float: right;
     display: inline;
}
.table-pager {
     display: inline;
}
.input-xs {
     max-width: 60px;
}
.filter-grp {
     float: right;
}