<h1>{{title}}</h1>
<br />
<div class="row">
    <div class="row">
        {{#with customer}}
        <form id="Customer" class="col-xs-6 bg-success img-rounded">
            <div>
                <label class="col-xs-3 text-right">First Name:</label>
                <label class="text-normal">{{FirstName}}</label>
            </div>
            <div>
                <label class="col-xs-3 text-right">Last Name:</label>
                <label class="text-normal">{{LastName}}</label>
            </div>
            <div>
                <label class="col-xs-3 text-right">E-Mail:</label>
                <label class="text-normal">{{EMail}}</label>
            </div>
        </form>
        {{/with}}
    </div>
    <br />
    <div class="row">
        <div class="col-lg-4">
            <a href="/customer" class="btn btn-primary">Back</a>
        </div>
    </div>
</div>