<h1>{{welcome}}</h1>
<p>Welcome to the RESTful Node.js starter website using Express and Handlebars!</p>

<ul> 
    <li><a href="/customer">List of customers</a></li>
    <li><a href="/pager">List of customers with paging</a></li>
    <li><a href="/customer/3">Customer Warren Buffet (3)</a></li>
</ul>